.chart-container {
  position: relative;
  width: 100%;
  height: 70vh;
  box-sizing: border-box;

  canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }
}

.chart-container-triger-price-hit {
  border: 2px solid red;
}